@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  font-weight: 500;
}

::selection {
  color: #1f2937;
  background-color: #fbbf24;
}
